celery==5.4.0
channels==4.1.0
channels-redis==4.2.0
daphne==4.1.2
Django
django-bootstrap5==24.2
django-dotenv==1.4.2
django-registration==3.4
psycopg2-binary==2.9.9
redis==5.0.8
requests==2.32.3
django-session-timeout==0.1.0